<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>
        <a class="copyright-link" href="http://github.com/Guiarrd">Created by Guiarrd. Copyright 2019 - All Rights Reserved</a>
      </b>
    </div>
  </div>
</div>